<!DOCTYPE html>
<html>
<head>
    <title>Online Exam</title>
</head>
<body>

<h1>Online Exam Portal</h1>

<form>
    <label>Student Name</label>
    <input type="text" id="student" />

    <br><br>

    <label>Select Exam</label>
    <input type="text" id="exam" />

    <br><br>

    <button type="button" onclick="startExam()">
        Start Exam
    </button>
</form>

<div id="questions"></div>

<script>
async function startExam() {

    let exam = document.getElementById("exam").value;

    let response = await frappe.call({
        method: "online_exam_system.online_exam_system.api.get_exam_questions",
        args: {
            exam_name: exam
        }
    });

    let data = response.message;

    let html = "";

    data.forEach((q, index) => {

        html += `
            <div>
                <h3>${index + 1}. ${q.question}</h3>
                <input type="radio" name="q${index}" value="A"> ${q.option_a}<br>
                <input type="radio" name="q${index}" value="B"> ${q.option_b}<br>
                <input type="radio" name="q${index}" value="C"> ${q.option_c}<br>
                <input type="radio" name="q${index}" value="D"> ${q.option_d}<br>
            </div>
            <hr>
        `;
    });

    document.getElementById("questions").innerHTML = html;
}
</script>

</body>
</html>
